a {
  color: #AC51FF;
}
::selection {
  color: #AC51FF;
  background: #B1B2B5;
}
@font-face {
  font-family: "Montserrat";
  src: url("montserrat.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("montserrat.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}
body {
  margin: 0;
  padding: 0; 
  display: flex;
  height: 100vh;
  font-weight: 400;
  font-style: normal;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: "Georgia", serif;
}
