@font-face {
  font-family: "Montserrat";
  src: url("montserrat.ttf") format("truetype");
}
a {
  color: #AC51FF;
}
::selection {
  color: #AC51FF;
  background: #D1C9FF;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}
h2:first-of-type {
  margin-top: 35px;
}
h3:not(:first-of-type) {
  margin-top: 55px;
}
body {
  margin: 0;
  padding: 0; 
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: "Georgia", serif;
}
.conditions {
  justify-content: left;
  text-align: justify;
  padding-right: 10%;
  padding-left: 10%;
}
section {
  margin-left: 2vh;
}